/* CSS Document */

/* CSS reset */

header, main, footer, nav, p, a, img {
	margin: 0;
	padding: 0;
}

.ninlogo {
	width: 30%;
	margin:0 auto;
	display: block;
	border: 5px solid black;
	border-radius: 20px;
}

.ninlogo2 {
	width: 20%;
	margin:0 auto;
	display: block;
	border: 5px solid black;
	border-radius: 20px;
}

header {
	background-color: white;
	border-radius: 10px 10px 10px;
}

h1 {
	box-shadow: 5px 10px 10px 0 black;
	border-radius: 10px 5px 5px;
	display: block;
	text-align: center;
	margin: 5% auto 3%;
	width: 40%;
	color: white;
	background-color: red;
}

nav li a:hover {
	background-color: darkred;
}

nav li{
	display: inline-block;
	text-decoration: none;
	text-align: center;
/*
	color: white;
	border: 3px solid darkred;
*/
/*	padding: 1% 7%;*/
	margin: 0 auto;
}

nav {
	text-align: center;	
}

nav li a {
	margin: 0 1.2em;
    padding: .5em 3em;
	border: 3px solid darkred;
	text-decoration: none;
	color: white;
	text-align: center;
	border-radius: 10px 5px 5px;
}

p {
	color: white;
}

.p2 {
	border: 5px solid black;
	margin: 100px;
	max-width: 500px
}

.who {
	text-align: center;
}

.pp {
	padding: 20px 0;
	margin: 50px 200px;
	
}

footer {
	background-color: black;
	margin: 100px -8px -10px;
	padding-top: 20px;
	padding-bottom: 30px;
	text-align: center;
}

.pcopy {
	padding-top: 10px;
}

footer li {
	display: inline-block;
	text-decoration: none;
	text-align: center;
}

footer li a {
	margin: 0.5em;
    padding: 0.5em 2em;
	border: 3px solid darkred;
	text-decoration: none;
	color: white;
	text-align: center;
}

body {
	background-color: #F10000;
}


.img2 {
	margin: -200px 0 0 1200px;
	padding-bottom: 200px;
}

.img1 {
	width: 500px;
	height: 400px;
	margin: -400px 0 0 1000px;
}

.bold {
	font-weight: 800;
	color: black;
	font-size: 30px;
}

.border {
	border: 3px solid black;
	width: 30%;
	font-size: 30px;
}

.title {
	font-size: 40px;
	margin: 2% 8%;
}

.wasd {
margin: 40px 0 0 50px ;
}

main {
	padding-top: 100px;
}

main hr {
	margin-bottom: 100px;
}